* {
    margin: 0;
    padding: 0;
}
.dashboard_sidebar {
    position: fixed;
    top: 0;
    background-color: darkcyan;
    width: 200px;
    height: 100%;
}
.dashboard_sidebar ul li {
    list-style-type: none;

}
.dashboard_sidebar ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    padding-left: 10px;
}
.dashboard_sidebar ul li a:hover {
    background-color:rgb(155, 163, 163)
}
.dashboard_main{
    margin-left: 200px; 
    padding: 20px;
}