.main {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.product {
    margin: 8px;
    border: 2px solid burlywood;
    max-width: 300px;
    padding: 30px;
    text-align: center;
    height: 400px; /* Fixed height to align buttons */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distributes space evenly */
}

.product img {
    width: 100%; /* Ensures images scale to container width */
    height: 200px; /* Fixed height for uniformity */
    object-fit: cover; /* Maintains aspect ratio */
}

.product a {
    display: block;
    text-decoration: none;
    background-color: rgb(66, 232, 66);
    color: black;
    margin-top: 10px;
    padding: 10px;
    width: 100%; /* Full width of container */
}

.productprice {
    font-weight: bold;
    color: rgb(44, 156, 44);
    font-size: 20px;
}